// DOCUMENTATION
// https://sass-lang.com/documentation/file.SASS_REFERENCE.html

// run the following command in the terminal: npm run watch-css

// SOURCE
// https://medium.com/@brianhan/watch-compile-your-sass-with-npm-9ba2b878415b

$badass: #bada55;
body {
  margin: 0;
  background-color: $badass;
}

p {
  margin: 5px;
}

h1 {
  color: black;
}

// Home page
.content {
  //width: 50%;
  //margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content > img {
  margin-top: -300px;
}

.content > div {
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-primary {
  background: goldenrod;
  padding: 25px;
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.btn-primary:hover {
  text-decoration: none;
}

// Game page
.game-content {
  width:100%;
  position: absolute;
  bottom:0;
  text-align: center;
}
.game-content > div {
  display: inline-block;
  //margin-bottom: -100px;
}
.game-content #game-table {
  width: 100%;
}

.game-item img:hover {
  transform: scale(1.1);
}

.game-disabled {
  cursor: no-drop;
}

// Employee folder
.game-folder {
  height: 100vh;
  background: url("../images/employee-folder.png");
  background-size: 100%;
}

.game-folder #employee-details {
  margin-top: 100px;
}

.game-folder .game-options {
  width: 100%;
}
.game-folder .game-options > a {
  margin-top: 50px;
  margin-left: 50px;
}

// WHS policies
.policy-folder {
  height: 100vh;
  background: url("../images/policy-folder.png") no-repeat;
  background-size: auto 100%;
  background-position: center;

  .policy-details {
    margin-top: 100px;

    p {
      width: 50%;
    }
  }
}

.policy-folder .game-options > a {
  margin-top: 50px;
  margin-left: 50px;
}

#policy-decision img {
  position: absolute;
  bottom: 15%;
  left: 48%;
}

// Tutorial page
.tutorial-content {
  width: 100vh;
}

.tutorial-content img {
  width: 100vw;
  height: 100vh;
}

// Monthly report
.monthly-report {
  height: 100vh;
  background: url("../images/policy-folder.png") no-repeat;
  background-size: auto 100%;
  background-position: center;

  h3 {
    text-align: center;
  }
  #policy-summary {
    top: 15%;
  }
  #employee-summary {
    top: 15%;
  }
  #policy-summary, #employee-summary {
    span {
      font-weight: bold;
    }
  }

  #resetDiv {
    margin-top: 20%;
  }
}

// Timer for the game
.timer {
  position: absolute;
  width: 100px;
  padding: 10px;
  font-size: 32px;
}