// DOCUMENTATION
// https://sass-lang.com/documentation/file.SASS_REFERENCE.html

// run the following command in the terminal: npm run watch-css


$background-all: #bada55;
body {
  margin: 0;
  //background-color: $background-all;
}

p {
  margin: 5px;
}

h1 {
  color: black;
}

// Home page
.content {
  //width: 50%;
  //margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.content > img {
  width: 100vw;
  height: 100vh;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.content > div {
  margin-top: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mute {
  a img {
    width: 50px;
    height: 50px;
  }

  margin-bottom: -200px;
}

.btn-primary {
  background: url("../images/button.png");
  width: 100%;
  padding: 25px;
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
  margin-right: 25px;
}

.btn-primary:hover {
  text-decoration: none;
}

.btn-secondary {
  background: url("../images/button2.png");
  width: 150px;
  height: 50px;
}

// Game page
.game-content {
  width:100%;
  position: absolute;
  bottom:0;
  text-align: center;
}
.game-content > div {
  display: inline-block;
  //margin-bottom: -100px;
}
.game-content #room {
  width: 100%;
  height: 100vh;
}

#room-content {
  position: absolute;

  .game-item {
    position: relative;
    left: 400px;
    top: 900px;

    img:hover {
      transform: scale(1.1);
    }
  }
}

.game-disabled {
  cursor: no-drop;
}

// Employee folder
.game-folder {
  height: 100vh;
  //background: url("../images/open-folder.png");
  //background-size: 100%;

  #game-background {
    height: 100vh;
    position: absolute;
    margin: 0 8%;
  }

  #employees {
    position: relative;
    height: 80%;
    width: 100%;
    overflow: scroll;
    margin: 70px -30%;
  }
}

.game-folder #employee-details {
  margin-top: 100px;

  h4 {
    text-align: center;
  }

  ul {
    h6 {
      text-align: center;
    }

    div {
      padding-bottom: 25px;

      span {
        font-weight: bold;
        padding-bottom: 15px;
      }
      button {
        float: right;
        margin-top: -22px;
      }
    }
  }
}

.game-folder .game-options {
  width: 100%;
}
.game-folder .game-options > a {
  margin-top: 50px;
  margin-left: 50px;
}

// WHS policies
.policy-folder {
  height: 100vh;
  background: url("../images/policy-folder.png") no-repeat;
  background-size: auto 100%;
  background-position: center;

  .policy-details {
    margin-top: 100px;

    p {
      width: 50%;
    }
  }
}

.policy-folder .game-options > a {
  margin-top: 50px;
  margin-left: 50px;
}

#policy-decision img {
  position: absolute;
  bottom: 15%;
  left: 48%;
}

// Tutorial page
#tutorial-content {
  .game-item {
    cursor: pointer;
  }
}

#tutorial-popup1,
#tutorial-popup2 {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  margin-top: -300px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}
//.tutorial-content {
//  width: 100vh;
//}
//
//.tutorial-content img {
//  width: 100vw;
//  height: 100vh;
//}

// Monthly report
.monthly-report {
  height: 100vh;
  background: url("../images/policy-folder.png") no-repeat;
  background-size: auto 100%;
  background-position: center;

  h3 {
    text-align: center;
  }
  #policy-summary {
    top: 15%;
  }
  #employee-summary {
    top: 15%;
  }
  #policy-summary, #employee-summary {
    span {
      font-weight: bold;
    }
  }

  #resetDiv {
    margin-top: 20%;
  }
}

// Heads Up Display (HUD) for the game
.hud {
  position: absolute;
  width: 100px;
  padding: 10px;
  font-size: 32px;
}