<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The code snippet (1. bootstrap) below has been adapted from:
    https://getbootstrap.com/docs/4.1/getting-started/introduction/
    The code snippet mostly appears in its original form. The JQuery script has been changed.
-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title of the page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- end of source (1. bootstrap) -->

    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>