<% include partials/header %>

<div class="game-content">

    <div id="room-content">
        <% include partials/timer %>

        <a href="employee-folder" class="game-item"><img src="/images/folder1.png" ></a>

        <% if(policyNumber > 0) { %>
            <a href="whs-policies" class="game-item"><img src="/images/folder2-notification.png"></a>
        <% } else { %>
            <a href="whs-policies" class="game-item"><img src="/images/folder2.png"></a>
        <% } %>
    </div>
    <% if(affectedEmployee != null) { %>
        <div class="alert alert-warning" role="alert">
            A worker has been affected due to your policy decision.
        </div>
    <% } %>

    <img id="room" src="/images/room.png" >
</div>

<% include partials/footer %>

<script> setInterval(function(){self.location.reload()},5000) </script>

<!-- Script to run timer -->
<script>
    let timer = $(".hud span").html();
    setInterval(function(){timer--; if(timer>=0) { $(".hud span").html(timer)}}, 1000);
</script>
