<!--<h1> Logo Page </h1>-->
<% include partials/header %>

<div class="content">
    <img src="/images/logo.png" alt="Miner Miner Logo">
    <div>
        <a href="game" class="btn-primary">START GAME</a>
        <a href="tutorial" class="btn-primary">TUTORIAL</a>
    </div>
</div>
