<% include partials/header %>
<h1> Monthly Rapport Page </h1>
<% include partials/footer %>

<!--
 toMonthlyReport is an array of objects including the following information
    policyTitle = String (Title of Policy)
    policyText Ignore that here
    policyOption = String (Flavour text about what happened)
    policyOptionFunction Ignore that here
    policyChoice = String (contains either "Denied" or "Approved" based on player choice)


 affectedEmployees is an array of objects including the following information
    name = String (Employee name)
    year = Int (Year of injury or death)
    type = String (Stings that contains "Killed", "Fatal" or "Injured"
    comment = String (String that Explains what happened)
    employed Ignore that here
    injured Ignore that here
    alive Ignore that here
            -->