<% include partials/header %>
<div class="game-content" id="tutorial-content">
    <!--<a href="/">-->
        <!--<img src="/images/tutorial.png" >-->
    <!--</a>-->
    <div id="room-content">
        <img class="game-item" id="game-item1" src="/images/folder1.png" >
        <img class="game-item" id="game-item2" src="/images/folder2.png">
    </div>

    <img id="room" src="/images/room.png" >

    <div class="tutorial-popup" id="tutorial-popup1">
        <h3>Employee Folder</h3>
        <p>
            This folder gives you an overview of your company's personal resources. The folder lets you manage and fire current employees or hire new ones.
        </p>
    </div>

    <div class="tutorial-popup" id="tutorial-popup2">
        <h3>Workplace Health and Safety Folder</h3>
        <p>
            This folder is a collection of the policies that are currently available to you and let's you decide on whether you wish to approve or deny incoming policy requests.
        </p>
    </div>

</div>
<% include partials/footer %>

<script>
    $(function() {
        var moveLeft = 20;
        var moveDown = 10;

        $('img#game-item1').hover(function(e) {
            $('div#tutorial-popup1').show();
        }, function() {
            $('div#tutorial-popup1').hide();
        });

        $('img#game-item2').hover(function(e) {
            $('div#tutorial-popup2').show();
        }, function() {
            $('div#tutorial-popup2').hide();
        });

        $('img.game-item').mousemove(function(e) {
            $("div.tutorial-popup").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
        });

    });
</script>