<% include partials/header %>

<div class="policy-folder">
    <div class="game-options row">
        <a href="game"><img src="/images/back.png"></a>
    </div>

    <div class="policy-details offset-xl-4">
        <h1> WHS Policies </h1>

        <p> <%= data %></p>
        <% if(status) { %>
            <button id="approve">Approve</button>
            <button id="deny">Deny</button>
        <% } %>
        <div id="policy-decision">

        </div>
    </div>
</div>


<% include partials/footer %>

<!-- Script to add approve or deny image to policy -->
<script>
    let myTimer = setInterval(function(){self.location.reload()},2000);

    $("#approve").click(function() {
        $('<img />').attr({
            'src': '/images/sign.png'
        }).appendTo('#policy-decision');
        clearInterval(myTimer);

        setTimeout(function(){
            window.location = "/whs-policies/Approve";
        }, 2000);
    });

    $("#deny").click(function() {
        $('<img />').attr({
            'src': '/images/sign.png'
        }).appendTo('#policy-decision');
        clearInterval(myTimer);

        setTimeout(function(){
            window.location = "/whs-policies/Deny";
        }, 2000);
    });
</script>