<% include partials/header %>
<h1> WHS Policies Page </h1>

<p> <%= data %></p>

<!-- Approve Button - Value should be the string 'approveOption' -->
<!-- Deny Button - Value should be the string 'denyOption -->

<!-- form post request goes to /whs-policies/:option - where option is the value of the button -->

<% include partials/footer %>