<% include partials/header %>
<% include partials/timer %>

<div class="policy-folder">
    <div class="game-options row">
        <a href="game"><img src="/images/back.png"></a>
    </div>

    <div id="game-background">
        <img class="mx-auto d-block" src="/images/open-folder.png">
    </div>

    <div class="policy-details offset-xl-4">
        <h1> WHS Policies </h1>

        <p> <%= data.policyText %></p>
        <% if(status) { %>
            <button id="approve" class="btn-secondary">Approve</button>
            <button id="deny" class="btn-secondary">Deny</button>
        <% } %>

        <p><span>Approve Hint: </span><%= data.policyApproveHint %></p>
        <p><span>Deny Hint: </span><%= data.policyDenyHint %></p>

        <div id="policy-decision">

        </div>
    </div>
</div>


<% include partials/footer %>

<!-- Script to add approve or deny image to policy -->
<script>
    let myTimer = setInterval(function(){self.location.reload()},5000);

    $("#approve").click(function() {
        $('<img />').attr({
            'src': '/images/approved.png'
        }).appendTo('#policy-decision');
        clearInterval(myTimer);

        setTimeout(function(){
            window.location = "/whs-policies/Approve";
        }, 2000);
    });

    $("#deny").click(function() {
        $('<img />').attr({
            'src': '/images/denied.png'
        }).appendTo('#policy-decision');
        clearInterval(myTimer);

        setTimeout(function(){
            window.location = "/whs-policies/Deny";
        }, 2000);
    });

    <!-- Script to run timer -->
    let timer = $(".timer span").html();

    setInterval(function(){ timer--; if(timer>=0) { $(".timer span").html(timer)}}, 1000);
</script>