<% include partials/header %>

<div class="policy-folder">
    <div class="game-options row">
        <a href="game"><img src="/images/back.png"></a>
    </div>

    <div class="policy-details offset-xl-4">
        <h1> WHS Policies Page </h1>

        <p> <%= data %></p>

        <form action="/whs-policies/option" method="POST">
            <input type="submit" name="approveOption" value="Approve" id="approve">
            <input type="submit" name="denyOption" value="Deny" id="deny">
        </form>

        <div id="policy-decision">
            <!--<img src="/images/sign.png">-->
        </div>
    </div>

    <!-- Approve Button - Value should be the string 'approved' -->
    <!-- Deny Button - Value should be the string 'denied'-->

    <!-- form post request goes to /whs-policies/:option - where option is the value of the button -->
</div>


<% include partials/footer %>

<!-- Script to add approve or deny image to policy -->
<script>
    $("#approve").click(function() {
        $('<img />').attr({
            'src': '/images/sign.png'
        }).appendTo('#policy-decision');
    });

    $("#deny").click(function() {
        $('<img />').attr({
            'src': '/images/sign.png'
        }).appendTo('#policy-decision');
    });
</script>
<% include partials/footer %>


<script> setInterval(function(){self.location.reload()},2000) </script>
