body {
  margin: 0;
  background-color: #bada55; }

p {
  margin: 5px; }

h1 {
  color: black; }

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.content > img {
  margin-top: -300px; }

.content > div {
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.btn-primary {
  background: goldenrod;
  padding: 25px;
  text-align: center;
  font-size: 18px;
  margin-top: 50px; }

.btn-primary:hover {
  text-decoration: none; }

.game-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center; }

.game-content > div {
  display: inline-block; }

.game-content #game-table {
  width: 100%; }

.game-item img:hover {
  transform: scale(1.1); }

.game-disabled {
  cursor: no-drop; }

.game-folder {
  height: 100vh;
  background: url("../images/employee-folder.png");
  background-size: 100%; }

.game-folder #employee-details {
  margin-top: 100px; }

.game-folder .game-options {
  width: 100%; }

.game-folder .game-options > a {
  margin-top: 50px;
  margin-left: 50px; }

.policy-folder {
  height: 100vh;
  background: url("../images/policy-folder.png") no-repeat;
  background-size: auto 100%;
  background-position: center; }

.policy-folder .policy-details {
  margin-top: 100px; }

.policy-folder .game-options > a {
  margin-top: 50px;
  margin-left: 50px; }

#policy-decision img {
  position: absolute;
  bottom: 15%;
  left: 48%; }

.tutorial-content {
  width: 100vh; }

.tutorial-content img {
  height: 100%; }
