body {
  margin: 0; }

p {
  margin: 5px; }

h1 {
  color: black; }

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px); }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px); }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px); } }

.content > img {
  width: 100vw;
  height: 100vh;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite; }

.content > div {
  margin-top: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#mute {
  margin-bottom: -200px; }
  #mute a img {
    width: 50px;
    height: 50px; }

.btn-primary {
  background: url("../images/button.png");
  width: 100%;
  padding: 25px;
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
  margin-right: 25px; }

.btn-primary:hover {
  text-decoration: none; }

.btn-secondary {
  background: url("../images/button2.png");
  width: 150px;
  height: 50px; }

.game-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center; }

.game-content > div {
  display: inline-block; }

.game-content #room {
  width: 100%;
  height: 100vh; }

#room-content {
  position: absolute; }
  #room-content .game-item {
    position: relative;
    left: 400px;
    top: 900px; }
    #room-content .game-item img:hover {
      transform: scale(1.1); }

.game-disabled {
  cursor: no-drop; }

.game-folder {
  height: 100vh; }
  .game-folder #game-background {
    height: 100vh;
    position: absolute;
    margin: 0 8%; }
  .game-folder #employees {
    position: relative;
    height: 80%;
    width: 100%;
    overflow: scroll;
    margin: 70px -30%; }

.game-folder #employee-details {
  margin-top: 100px; }
  .game-folder #employee-details h4 {
    text-align: center; }
  .game-folder #employee-details ul h6 {
    text-align: center; }
  .game-folder #employee-details ul div {
    padding-bottom: 25px; }
    .game-folder #employee-details ul div span {
      font-weight: bold;
      padding-bottom: 15px; }
    .game-folder #employee-details ul div button {
      float: right;
      margin-top: -32px; }

.game-folder .game-options {
  width: 100%; }

.game-folder .game-options > a {
  margin-top: 50px;
  margin-left: 50px; }

.policy-folder {
  height: 100vh; }
  .policy-folder #game-background {
    height: 100vh;
    position: absolute;
    margin: 0 8%; }
  .policy-folder .policy-details {
    position: relative;
    height: 80%;
    width: 100%;
    margin: 70px 25%; }
    .policy-folder .policy-details h1 {
      margin-left: 18%; }
    .policy-folder .policy-details p {
      width: 50%;
      text-align: center;
      margin-top: 40px; }
      .policy-folder .policy-details p span {
        font-weight: bold; }
    .policy-folder .policy-details button {
      margin-top: 25px; }
    .policy-folder .policy-details button#approve {
      margin-left: 15%; }

.policy-folder .game-options > a {
  margin-top: 50px;
  margin-left: 50px; }

#policy-decision img {
  position: absolute;
  bottom: 15%;
  left: 18%; }

#tutorial-content .game-item {
  cursor: pointer; }

#tutorial-popup1,
#tutorial-popup2 {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  margin-top: -300px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%; }

.monthly-report {
  height: 100vh;
  background: url("../images/policy-folder.png") no-repeat;
  background-size: auto 100%;
  background-position: center; }
  .monthly-report h3 {
    text-align: center; }
  .monthly-report #policy-summary {
    top: 15%; }
  .monthly-report #employee-summary {
    top: 15%; }
  .monthly-report #policy-summary span, .monthly-report #employee-summary span {
    font-weight: bold; }
  .monthly-report #resetDiv {
    margin-top: 20%; }

.hud {
  position: absolute;
  right: 0;
  width: 250px;
  height: 150px;
  padding: 10px;
  border: 4px solid #2e3131;
  font-size: 32px;
  text-align: center;
  background: aliceblue;
  z-index: 1000; }
